.product-image{
    max-width: 250px;
}
.holder{
    margin-top: 90px;
}
.login{
    width: 300px;
}
.filedrop-holder{
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
Thead{
    background-color: black;
    color: white;
}
